[submodule "bundle/ale"]
    path = bundle/ale
    url = https://github.com/dense-analysis/ale.git
[submodule "bundle/conky-syntax"]
    path = bundle/conky-syntax
    url = https://github.com/smancill/conky-syntax.vim
[submodule "bundle/vim-airline-themes"]
    path = bundle/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
    path = bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-less"]
    path = bundle/vim-less
    url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-minimap"]
    path = bundle/vim-minimap
    url = https://github.com/severin-lemaignan/vim-minimap.git
[submodule "bundle/vim-mustache-handlebars"]
    path = bundle/vim-mustache-handlebars
    url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/vim-nginx"]
    path = bundle/vim-nginx
    url = https://github.com/fatih/vim-nginx.git
[submodule "bundle/vim-pug"]
    path = bundle/vim-pug
    url = https://github.com/digitaltoad/vim-pug
[submodule "bundle/vim-stylus"]
    path = bundle/vim-stylus
    url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vimtex"]
    path = bundle/vimtex
    url = https://github.com/lervag/vimtex.git
